h2 {
    text-align: center;
}

.newsletter {
    width: fit-content;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.formField {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.newsletterForm {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.formField {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.newsletterForm input {
    width: 100%;
    height: 2em;
}

.submitButton {
    float: right;
    margin-right: 0.5em;
}

@media only screen and (max-width: 640px) {
    .newsletterText h2 {
        font-size: 2em;
    }
    
    .newsletterText li, .newsletterText p {
        font-size: 1.5em;    
    }

    .POPOSAbout h1 {
        font-size: 2.5rem;
    }

    .newsletterForm input {
        height: 3em;
    }
}