/* src/POPOSList.css */
.POPOSList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  width: calc(100% - 80px);
  max-width: 1500px;
  margin: auto;
  padding: 1em 2em 2em 2em;
}

.POPOSSearch form {
	display: flex;
	align-items: center;
	max-width: 1500px;
}

.POPOSSearch form input, .POPOSSearch form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
}

.POPOSSearch form input {
	min-width: 100px;
	margin-left: 2.5em;
}

.POPOSSearch form button {
	margin-right: 2.5em;
}

.POPOSSearch form input {
	flex: 1;
	/* border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em; */
}

/* .POPOSSearch form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
} */

@media only screen and (max-width: 1350px) {
	.POPOSList {
	  grid-template-columns: 1fr 1fr 1fr;
	}
}

/* smaller screens and tablets */
@media only screen and (max-width: 992px) {
  .POPOSList {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 768px) {
	.POPOSList {
		grid-template-columns: 1fr;
	}
	.POPOSSearch {
    flex: 1;
    margin: auto;
  }
}