/* src/POPOSList.css */
.POPOSList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  width: calc(100% - 80px);
  max-width: 1200px;
  margin: auto;
  padding: 1em 2em 2em 2em;
}

/* smaller screens and tbalets */
@media only screen and (max-width: 960px) {
  .POPOSList {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.POPOSList {
		grid-template-columns: 1fr;
	}
}

.POPOSSearch form {
	display: flex;
	align-items: center;
}

.POPOSSearch form input, .POPOSSearch form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
}

.POPOSSearch form input {
	margin-left: 2.5em;
}

.POPOSSearch form button {
	margin-right: 2.5em;
}

.POPOSSearch form input {
	flex: 1;
	/* border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em; */
}

/* .POPOSSearch form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
} */